<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <h2>File Manager</h2>
                <h4>Current Directory (Local File System)</h4>
                <i>
                    <%- jsonData['DIRECTORY']%>
                </i>
                <br>

                <form action="/viewfile" method="GET">

                    <div id='left'>
                        <h3>All File</h3>
                        <left>
                            <a href="http://127.0.0.1:5000/cd?path=..">Go Back</a>
                            <br>
                            <br>
                            <% for(var i=0; i < jsonData['FILES'].length; i++) {%>
                                <% if(!jsonData['FILES'][i].includes('.')){ %>
                                    <a
                                        href="http://127.0.0.1:5000/cd?path=<%= jsonData['DIRECTORY']+'/'+jsonData['FILES'][i] %>">
                                        <%= jsonData['FILES'][i]%>
                                    </a>
                                    <br>
                                    <%} else{%>

                                        <a
                                            href="http://127.0.0.1:5000/view?file=<%= jsonData['DIRECTORY']+'/'+jsonData['FILES'][i] %>">
                                            <%= jsonData['FILES'][i]%>
                                        </a>
                                        <br>

                                        <% } %>
                                            <% } %>
                        </left>
                    </div>

                    <left>
                        <form id="right" action="/viewfile" method="POST"></form>
                        <h3>View File</h3>
                        <!-- <%= jsonData['CONTENT'] %> -->
                        <!-- <% for(var i=0; i < jsonData['FILES'].length; i++) {%>
                                    </a
                                        href="http://localhost:3000/viewfile=<%= jsonData['DIRECTORY']+'/'+jsonData['FILES'][i] %>">
                                    </a>
                                    <%= jsonData['FILES'][i]%>
                                <% } %> -->


                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
                </left>

                </form>

            </main>
            <%- include('../includes/end.ejs') %>