<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

    <main>

        <h1>Thank you for visiting MLN Dashboard!</h1>
        <% if (errorMessage) { %>
            <span class="label danger"> W A R N I N G <center>ERROR MESSAGE</center>
                <div class="user-message user-message--error">
                    <center><%= errorMessage %></center>
                </div>
           </span>
        <% } %>

        <form class="login-form" action="/delete-user" method="POST">
            <div class="form-control">
                <label for="username">Username</label>
                <input 
                class="<%= validationErrors.find(e => e.param === 'username') ? 'invalid' : '' %>"
                type="username" 
                name="username"  
                placeholder="Type your username" 
                id="username"
                value="<%= oldInput.username %>">
                <% if (validationErrors.find(e => e.param === 'username')) { %>
                    <span class="label danger">ERROR ON USERNAME</span>
                <% } %
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input
                class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                type="password" 
                name="password" 
                placeholder="Type your password" 
                id="password"
                value="<%= oldInput.password %>">
                <% if (validationErrors.find(e => e.param === 'password')) { %>
                    <span class="label danger">ERROR ON PASSWORD</span>
                <% } %
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input
                class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'invalid' : '' %>" 
                type="password" 
                name="confirmPassword" 
                placeholder="Confirm your password" 
                id="confirmPassword"
                value="<%= oldInput.confirmPassword %>">
                <% if (validationErrors.find(e => e.param === 'confirmPassword')) { %>
                    <span class="label danger">ERROR ON CONFIRM PASSWORD</span>
                <% } %
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Delete User</button>
        </form>

    </main>
<%- include('../includes/end.ejs') %>